body{
    font-family: 'Amatic SC', cursive;
    font-family: 'Special Elite', cursive;
}

h1{
    text-decoration: solid;
    color: cadetblue;
    text-shadow: darkgrey;
    font-weight: bolder;
}
p{
    text-decoration: darkslategrey;
}

h5{
    color: rebeccapurple;
    font-weight: bolder;
    
}

.footer{
    margin: 2px;
    padding: 2px;
    text-align: center;
    
    

}
